<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Home5"></activity>
        <activity
            android:name=".Map4"
            android:label="@string/title_activity_map4"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Home4" />
        <activity android:name=".Map3" />
        <activity android:name=".Home3" />
        <activity android:name=".Map2" />
        <activity android:name=".Home2" />
        <activity android:name=".Setting" />
        <activity android:name=".Map" />
        <activity android:name=".Spot5" />
        <activity android:name=".Spot4" />
        <activity android:name=".Spot3" />
        <activity android:name=".Spot2" />
        <activity android:name=".AboutBukchon" />
        <activity android:name=".AboutChangdeok" />
        <activity android:name=".AboutGyeongbok" />
        <activity android:name=".AboutCheonggye" />
        <activity android:name=".AboutDeoksu" />
        <activity android:name=".Spot" />
        <activity android:name=".Home" />
        <activity android:name=".HomeEmpty4" />
        <activity android:name=".HomeEmpty3" />
        <activity android:name=".HomeEmpty2" />
        <activity android:name=".HomeEmpty1" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/rounded" />

        <activity android:name=".Home_Empty" />
        <activity android:name=".GBackground" />
        <activity android:name=".RouteViewPalace" />
        <activity android:name=".Night1StartPos" />
        <activity android:name=".NightStartPos" />
        <activity android:name=".PalaceStartPos" />
        <activity android:name=".NightTheme1" />
        <activity android:name=".NightTheme" />
        <activity android:name=".PalaceTheme" />
        <activity android:name=".RouteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>